<div class="trackbusbgimg">
    <div class="headtrackmybus">
        <h3>Track My Bus</h3>
    </div>
    
    <div style="text-align: center; color: whitesmoke;" id="div2">
        <h5>Enter your PNR number to get ticket details and live tracking.</h5>
        <h5>Tracking details available 1 hour before the travel time.</h5>
    </div>

    <div class="trackmybususerdetails">
       
       <div>
        <mat-form-field id="TMBpnr">
            <mat-label>Enter PNR Number</mat-label>
            <input matInput type="number">
         </mat-form-field>
       </div>

         <div id="TMBbutton">
            <button mat-raised-button>Get Details</button>
        </div>

    </div>
    
</div>


<nav class="navbar navbar-dark " id="footer">
    <div class="container-fluid">
     
        <div>
        <h4>REACH US</h4>
        <p>Paradise Travels
            Shop No 42, Koyambedu Omni Bus Stand,
            Koyambedu, Chennai - 600106, Mobile : 9566001596, 9962720511 Email:paradisetravels@gmail.com</p>
        </div>

      <div >
        <h4  id="h4">Enjoy Your Journey</h4>
      </div>

      <div>
          <ul class="footeruselinks"> 
            <li> <h4 >USE FULL LINKS</h4></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Teams & Conditions</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Boarding Places</a></li>
        </ul>
      </div>
    </div>

  </nav>