<div class="myticketsbgimg">

  <div class="headmytickets">
    <h3>My Tickets</h3>
  </div>

  <div id="MTdiv2">
    <h5>Enter your PNR number to get ticket details to print and send SMS.</h5>
  </div>

  <div class="Myticketsuserdetails">
       
    <div>
     <mat-form-field  id="MTpnr">
         <mat-label>Enter PNR Number</mat-label>
         <input matInput type="number">
      </mat-form-field>
    </div>
  </div>
  <div class="db">
    <div id="MTbutton">
      <button mat-raised-button>Print Ticket</button>
  </div>

  <div  id="MTbutton">
   <button mat-raised-button>Send SMS</button>
  </div>

  <div  id="MTbutton">
   <button mat-raised-button>Cancel Ticket</button>
  </div>
   </div>


 


</div>
<nav class="navbar navbar-dark " id="footer">
    <div class="container-fluid">
     
        <div>
        <h4>REACH US</h4>
        <p>Paradise Travels
            Shop No 42, Koyambedu Omni Bus Stand,
            Koyambedu, Chennai - 600106, Mobile : 9566001596, 9962720511 Email:paradisetravels@gmail.com</p>
        </div>

      <div >
        <h4  id="h4">Enjoy Your Journey</h4>
      </div>

      <div>
          <ul class="footeruselinks"> 
            <li> <h4 >USE FULL LINKS</h4></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Teams & Conditions</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Boarding Places</a></li>
        </ul>
      </div>
    </div>

  </nav>