<div class="headcontact">
    <h3>Contact Details</h3>
</div>

<section class="area">
   
    <div>
        <h6>Ariyalur</h6>
        <p>1555/1 VETTAKUDI Road, Opp to Aravind Hotel, Ariyalur - 625531,
            9842173456</p>
    </div>
    <div>
        <h6>Chengalpattu</h6>
        <p>Chengalpattu,9842287199</p>
            
    </div>
    <div>
        <h6>Chennai</h6>
        <p>Shop No 42, Koyambedu Omni Bus Stand, Koyambedu, Chennai - 600106,
            9842160399, 7373765999, 7373764999</p>
    </div>
    <div>
        <h6>Coimbatore</h6>
        <p>Coimbatore,ParadiseTravels,9976976699</p>
            
    </div>
    <div>
        <h6>Cuddalore</h6>
        <p>Cuddalore,ParadiseTravels,9842155645</p>
    </div>
    <div>
        <h6>Chinnamanur</h6>
        <p>ParadiseTravels,9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>ParadiseTravels,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Dharmapuri</h6>
        <p>ParadiseTravels,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Dindigul</h6>
        <p>Dindigul,7373752999</p>
    </div>
   
    <div>
        <h6>Marthandam</h6>
        <p>ParadiseTravels,Marthandam,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Kavalkinaru</h6>
        <p>Kavalkinaru,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Valliyur</h6>
        <p>Valliyur,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Eruvadi</h6>
        <p>Eruvadi,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Tirunelveli</h6>
        <p>Tirunelveli,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Kovilpatti</h6>
        <p>Kovilpatti,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Sattur</h6>
        <p>Sattur,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
    <div>
        <h6>Cumbum</h6>
        <p>Thirumal Alaghu Travels (TAT) RMTC Depot Opp,
            9842124899, 7373761999</p>
    </div>
</section>


<nav class="navbar navbar-dark " id="footer">
    <div class="container-fluid">
     
        <div>
        <h4>REACH US</h4>
        <p>Paradise Travels
            Shop No 42, Koyambedu Omni Bus Stand,
            Koyambedu, Chennai - 600106, Mobile : 9566001596, 9962720511 Email:paradisetravels@gmail.com</p>
        </div>

      <div >
        <h4  id="h4">Enjoy Your Journey</h4>
      </div>

      <div>
          <ul class="footeruselinks"> 
            <li> <h4 >USE FULL LINKS</h4></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Teams & Conditions</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Boarding Places</a></li>
        </ul>
      </div>
    </div>

  </nav>
  