<div class="loginbgimg">

  <div class="headlogin">
    <h3>Login</h3>
  </div>
  <div id="loginhead2">
    <h5>Enter your User Name and Password For Login.</h5>
  </div>

  <div class="logindiv">
    <div>
      <mat-form-field  id="loginpnr">
          <mat-label>Username</mat-label>
          <input matInput type="text">
          <mat-icon matSuffix><span><i class="fas fa-user"></i></span></mat-icon>
         </mat-form-field>
     </div>
     <div>
      <mat-form-field  id="loginpnr">
          <mat-label>Password</mat-label>
          <input matInput type="password">
          <mat-icon matSuffix><span><i class="fas fa-lock"></i></span></mat-icon>
       </mat-form-field>
     </div>

     <div  id="loginbutton">
      <button mat-raised-button>Login</button>
     </div>

  </div>
</div>
<nav class="navbar navbar-dark " id="footer">
    <div class="container-fluid">
     
        <div>
        <h4>REACH US</h4>
        <p>Paradise Travels
            Shop No 42, Koyambedu Omni Bus Stand,
            Koyambedu, Chennai - 600106, Mobile : 9566001596, 9962720511 Email:paradisetravels@gmail.com</p>
        </div>

      <div >
        <h4  id="h4">Enjoy Your Journey</h4>
      </div>

      <div>
          <ul class="footeruselinks"> 
            <li> <h4 >USE FULL LINKS</h4></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Teams & Conditions</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Boarding Places</a></li>
        </ul>
      </div>
    </div>

  </nav>
