<nav class="navbar sticky-top navbar-expand-lg navbar-light " >
      <div class="container-fluid">
        <a class="navbar-brand" routerLink=""> <span id="title"> <span  style="color: gray; font-weight: bold;">P</span>aradise<span style="color: gray; font-weight: bold;" >T</span>ravels</span></a>
        <button class="navbar-toggler" type="button"  style="background-color: whitesmoke; color: rgb(19, 120, 160)" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"  ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto flex-nowrap">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="MyTickets">MyTickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="TrackMyBus">TrackMyBus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="ContactUs">ContactUs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Login">Login</a>
            </li>
           </ul>
          </div> 
    </div>
    
    </nav>
    
    <router-outlet></router-outlet>
    
    